body{
	background-color: white;
	font-family: 'Orbitron', sans-serif;
}

h1{
	color:blue;
	text-align:center;
	
}

p{
	color:red;
	text-align: left;

}

td, th 
{
    border: 1px solid black;
}

table{
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	color:black;
    background-image: url(Graphisme/Water.jpg);
    background-size: 100%;

}