body{
	background-color: white;
	font-family: 'Orbitron', sans-serif;
}

h1{
	text-align: center;
	color: blue;

}

p{
	color:red;
	text-align: left;

}

td, th
{
    border: 1px solid black;
}

table{
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	color:black;
    background-image: url(Graphisme/Water.jpg);
    background-size: 100%;

}

.PremierBateau{
	display: inline-block;
}
.bateauxSuivant{
	display: inline-block;
}

#Porte-Avion{
	background-image: none;
	background-color: grey;
	table-layout:fixed;
	width: 30%;
	height: 30px;
	transition: all 1s;
	-webkit-transition:all 1s;

}

#Porte-Avion:hover{
		width: 32%;
		height:30px;
}


#Croiseur{
	background-image: none;
	background-color: grey;
	table-layout: fixed;
	width: 24%;
	height: 30px;
	transition: all 1s;
	-webkit-transition:all 1s;
}

#Croiseur:hover{
		width: 26%;
}

.Sous-Marin{
	background-image: none;
	background-color: grey;
	table-layout: fixed;
	width: 18%;
	height: 30px;
	transition: all 1s;
	-webkit-transition:all 1s;
}
.Sous-Marin:hover{
	width: 20%;
}

.Torpilleur{
	background-image: none;
	background-color: grey;
	table-layout: fixed;
	width: 10%;
	height: 30px;
	transition: all 1s;
	-webkit-transition:all 1s;
}

.Torpilleur:hover{
	width: 14%;
}
